<html>
	<head>
	</head>
	<body>
		<p>
			<%= message %>
		</p>
		<form>
			<input type="text" name="inputCipher">
			<input type="text" name="shiftFactor">
			<input type="submit" value="Encode">
		</form>
	</body>
</html>